//  === Screen widths  ===
$desktop: "(min-width: 1280px)";
$tablet: "(min-width: 768px)";

//  === Colors ===
$white: #ffffff;
$black: #000000;
$grey: #666666;
$yellow: #ffff66;

$card-default: #1698d9;
$card-hover: #2ea8e6;
$card-chosen: #d91667;
$card-disabled: #b3b3b3;
$card-bg: #f2f2f2;

// === Fonts ===
$font-family-default: "Trebuchet";

// === Fonts sizes ===
$font-size-normal: 16px;

// === Line heights ===
$line-height-normal: 19px;

// === Fonts colors  ===
$text-main-color: $black;
